[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm
[submodule "external/glad"]
	path = external/glad
	url = https://github.com/Dav1dde/glad.git
	branch = master
[submodule "external/reactphysics3d"]
	path = external/reactphysics3d
	url = git@github.com:DanielChappuis/reactphysics3d.git
[submodule "external/ImGui"]
	path = external/ImGui
	url = git@github.com:ocornut/imgui.git
